body{
    margin: 0;
    padding: 0;

    font-family: "PT Sans" , Arial, sans-serif;
    font-size: 14px;
    line-height: 1.85;
    font-weight: normal;
    color: #000000;


    background-color: #666666;
}

   

.header {
  margin: 0;
  padding: 0;
}

.header-menu{
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.header-menu a{
    text-decoration: none;
    font-weight: bold;
}

.header-logo{
    background-image: url("Vector Smart Object.jpg");
}

.filters{
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    color:#ffffff;
    background-image: url("img/backgroundimage.jpg")
}

.filters-box{
    width: 33.3333%;
    
    
}


.filters-box-infrastructure{
    
    
    
    
}

.filters-box-home{
   
   
   
    
}

.filters-box-slider{
    
   
    
}

.input-group{


    color: #ffffff;
    font-family: "Myriad Pro" , Arial , sans-serif;
}

.filters-input-group{
    color: #ffffff;
}

.filters-slider{
    color: #ffffff;

}

.slider-value-from{
    color: #ffffff;
   
}

.slider-value-to{
    color: #ffffff;
    
}

.slider{
    color: #ffffff;
}

.slider-bar{
    color: #ffffff;
}

.slider-toggler{
    color: #ffffff;

}

.slider-button{
    color: #ffffff;
   
    
}

.sorting{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.sorting-heading{
    color: #000000;
    font-family: "Myriad Pro" , Arial , sans-serif;

    /*Жирный*/
    font-family: bold;
}

.sorting-target{
    color: #000000;
    width: 50%;


    margin: 0 5px;



    justify-content: flex-start;
    
}

.sorting-target-link{
    color:#333333;
    
}

.sorting-target-link-active{
    color: #81b3d2;

}

.sorting-order-button{
    color:#333333;
  
}

.sorting-order-button-active{
    justify-content: flex-end;
    

    color: #81b3d2;

}

.sorting-order-button-asc{
    background-image: url("img/asc.jpg")
    
}

.sorting-order-button-desc{
    background-image: url("img/desc.jpg")
    
}

.hotels{

}

.hotels-list{
    list-style: none;

}

.card{
    display: flex;
    justify-content: space-between;
    width: 100%;
    

}

.card-img{
    height: 100%;

}

.card-content{
    display: flex;
    flex-flow: column wrap;
    flex-grow: 1;
    align-content: flex-start;

    
}

.card-heading {
    margin: 0;
    

    color: #000000;

}

.card-caption>span:nth-child(1){
    color:#333333;

}

.card-caption>span:nth-child(2){
    color:#333333;
}

.card-btn{
    background-color: #81b3d2;

}

.card-btn-secondary{
    background-color: #766357;
}

.card-rating{

}

.card-stars{


}

.card-star{
    background-image: url("img/star.jpg");
}

.rating-summery{

    background-color: #f2f2f2;
    color: #666666;
    font-family: "Myriad Pro" , Arial , sans-serif;

}

/*
.card-baseline-under{
    display: flex;
    align-self: flex-start;

}

.card-baseline-upper{
    

}
*/

.footer{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;

    


}

.footer-hashtag{

}

.footer-socials{
    list-style: none;
    width: 33%;

}

.social{
    width: 33%;

    /*
    display: flex;
    justify-content: center;
    */

}

.social-tw,
.social-fb,
.social-ytb{
    
   
}

.footer-credentials{
    width: 33%;
    
}