body{
    margin: 0;
    padding: 0;

    font-family: "PT Sans" , Arial, sans-serif;
    font-size: 14px;
    line-height: 1.85;
    font-weight: normal;
    color: #000000;

    background-color: #ffffff;
}

a{
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
}

img{
    max-width: 100%;
    background-repeat: no-repeat;
    height: auto;
}

.header{
    height: 56px;
}
  
.header-menu{
    margin: 0;
    padding: 0;
    list-style: none;
      
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 57px;
    
    
  }
  
.header-menu-link{
    display: block;
    padding: 15px 15px;


    text-decoration: none;
    font-weight: bold;
}


.header-menu-link:hover{
    color: #81b3d2;
}

.header-menu-link:active{
    color: #eaeaea;
}

.header-image{
    position: relative;
    padding: 0;

    margin-bottom: -16px;  
}

.jumbotron{
    margin: 0;
    padding: 0;
    background-image:url(photo/jimbo\ bottom.png), url(photo/background.jpg);
    background-size: 100% ;
    flex-grow: 1;
    background-repeat: no-repeat;
    background-position:bottom center, center -62px;

    

    padding-top: 70px;
    padding-bottom: 72px;

    text-align: center;
}

h1{
    margin:0;


    display: flex;
    flex-direction:column;
    align-items: center;
}

.jumbotron-heading>span:nth-child(1){
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

    display:inline-block;

    margin-bottom: 10px;


    background-image: url(photo/Welcome.png);
    background-repeat: no-repeat;
    background-position: center;
    
    height: 45px;
    width: 188px;
}


.jumbotron-heading>span:nth-child(2){
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

    width: 256px;
    height: 30px;
    display:inline-block;

    margin-bottom: 50px;

    background-image: url(photo/to\ the\ gorgeous.png);
    background-repeat: no-repeat;
    background-position: center;   
}

.jumbotron-heading>span:nth-child(3){
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

    height: 78px;
    min-width:458px;
    display: inline-block;

    margin-bottom: 55px;

    background-image: url(photo/Sedona.png);
    background-repeat: no-repeat;
    background-position: center;

}

.jumbotron-caption{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

    display: inline-block;
    

    width: 296px;
    height: 80px;

    background-image: url(photo/Because\ the\ Grand\ \ Canyon\ sucks_.png);
    background-repeat: no-repeat;
    background-position: center;

    text-align: center;

}

.main-info{
    padding-top: 53px;
    padding-bottom: 50px;
}

.main-info-heading{
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;

    
    text-align: center;

    margin:0;
    margin-bottom: 8px;
}

.main-info-caption{
    margin: 0;
    font-size: 14px;
    font-weight: 26px;
    text-transform: uppercase;
    color: #333333;

    text-align: center;
}

.features{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}

.features-image{
    flex-grow: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}

.features-item {
    width: 33.3333%;
}

.features-item-wide {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
}

.features-item-wide-content {
    width: 33.33%;
}


.feature{
    text-align:center;
    background-color: #eeeeee;
    padding-top: 60px;
    padding-bottom: 65px;
    
}

.feature-display{
    width: 100%;
}


.feature-heading{
    font-size: 21px;
    line-height: 1;
    text-transform: uppercase;

    margin:0;

    display: inline-block;
    min-width: 160px;
}

h4.feature-heading{
    margin: 0;
    margin-bottom: 30px;
}

.feature-number{
    color: #333333;

    margin: 0 30px 0 15px;

    
}
   

.feature-description{
    margin: 0;
    
    display: inline-block;
    text-transform: uppercase;
    

}

.more-pros{
    font-size: 14px;
    font-weight: 26px;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
    padding: 0;
    width: 100%;
    padding-bottom: 20px;

    display: flex;
    justify-content: space-between;
    list-style: none;
}


.feature-light{
    background-color: #ffffff;
    width: 400px;

}

.feature-dark{
    text-transform: uppercase;
    color: #ffffff;
    background-color: #81b3d2;

    padding-top: 50px;
    padding-bottom: 65px;
    
}   

.feature-icon{
    background-repeat: no-repeat;

    background-position: center;
    height: 75px;

    margin-bottom: 30px;
     
   
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    
}

.feature-icon-home{
    background-image: url("photo/icon-1.png");     
}


.feature-icon-food{
    background-image: url("photo/icon-3.png"); 
}

.feature-icon-gifts{
    background-image: url("photo/icon-2.png");
}



.section-booking{
    text-align: center;
    width: 100%;

    display: flex;
    justify-content: center;
    flex-flow: column nowrap;

    padding-top: 40px;
}



h2{
    font-size: 26px;
    color:#000000;
    font-weight: bold;
    text-transform: uppercase;

    margin: 0; 
}

.section-booking-description{
    font-size: 14px;
    text-transform: uppercase;

    margin: 0;
    padding: 0;
}

form{
    width: 100%;

    background-image: url(photo/map.png);
    background-repeat: no-repeat;
    background-position: 0 110px;
    background-size: 100%;

    padding: 0 calc(50vw - 295px) 75px; 
    box-sizing: border-box;
    
}

.form-heading{
    color:#ffffff;
    font-size: 21px;
    background-color: #766357;
    text-transform: uppercase;
    

    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 0px;

}

.form-content{
    color:#000000;
    font-size: 14px;
    font-weight:bold;
    text-transform: uppercase; 

    height: 400px;
    
    display: flex;
    flex-flow: column nowrap;

    background-color: #ffffff;

    margin: 0 auto;
    padding:55px 60px;

    box-sizing: border-box;
    
}

.form-input-group{
    margin-bottom: 25px;

    display: flex;
    align-items: center;
}

.form-lable{
    text-align: left;
    min-width: 125px;
}

.form-input{
    flex-grow: 1;

    background-color: #f2f2f2;
    border: none;
    text-transform: uppercase;
    font-weight: bold;

    height: 40px;

    

    padding: 0 5px;
}

.form-input-group-inline{
    display: flex;
    justify-content: space-between;

    margin-bottom: 60px;
}

.form-input-group-both{
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.form-lable-adults{
    display: inline-block;
    text-align: left;
    min-width: 125px;

}

.form-input-adults{
    box-sizing: border-box;

    height: 40px;
    width: 40px;

    text-align: center;
}

.form-lable-children{
    padding-right: 10px;
    text-align: right;
    min-width: 0;

}

.form-input-children{
    width: 40px;

    text-align: center;
}

.form-submit{
    color:#ffffff;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #81b3d2;
    box-sizing: border-box;
    min-height: 60px;
    border:none;
}

.form-input-group-both-plus-minus{
    display: flex;

    background-color: #f2f2f2;

    box-sizing: border-box;
    height: 40px;
    width: 115px;
}

.button-minus{
    background-image: url(photo/minus.png);
    background-repeat: no-repeat;
    background-position: center;
    
    border: none;
    height: 40px;
    width: 40px;

    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

    padding: 0;
}

.button-plus{
    background-image: url(photo/plus.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;

    border: none;
    height: 40px;
    width: 40px;
    
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

    padding: 0;
}

.button-minus:hover{
    background-color: lightgray;
}

.button-minus:active{
    background-color: #81b3d2;
}


.button-plus:hover{
    background-color: lightgray;
}

.button-plus:active{
    background-color: #81b3d2;
}

.section-booking-form-submit:hover{
    background-color: #669ec0;
    color: white;

}

.section-booking-form-submit:active{
    background-color: #5496bd;
    color: #85b0cd;

}




.footer{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-content: center;

    
    height: 120px;
}

.footer-hashtag{
    font-size: 21px;
    font-weight: bold;
    width: 33%;

    display: flex;
    align-items: center;
    justify-content: center;

}

.footer-socials{
    margin: 0;
    padding: 0;
    
    list-style: none;
    width: 33%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.social{
    margin: 5px;
}

.social-tw{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

    background-color: #81b3d2;

    display: inline-block;
    height: 50px;
    width: 50px;
    background-image: url(photo/twittericon.png);
    background-repeat: no-repeat;
    background-position: center;

}
.social-fb{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

    background-color: #81b3d2;

    display: inline-block;
    height: 50px;
    width: 50px;
    background-image: url(photo/fbicon.png);
    background-repeat: no-repeat;
    background-position: center;

}
.social-ytb{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

    background-color: #81b3d2;

    display: inline-block;
    height: 50px;
    width: 50px;
    background-image: url(photo/youtubeIMG.png);
    background-repeat: no-repeat;
    background-position: center;  
}

.social-fb:hover,
.social-tw:hover,
.social-ytb:hover{
    background-color: #669ec0;
    color: white;
}

.social-fb:active,
.social-tw:active,
.social-ytb:active{
    background-color: #5496bd;
    color: #85b0cd;
}


.footer-credentials{
    width: 33%;

    display: flex;
    align-items: center;
    justify-content: center;  
}

.credentials-caption{
    text-transform: uppercase;
    margin-right: 10px;
}

.credentials-link{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

    background-image: url(photo/logo_name.png);
    height: 41px;
    width: 115px;
    background-repeat: no-repeat;
    background-position: center;
}